extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Recipe Name:
      input#name.form-control(type='text', placeholder='Name of recipe' name='name' required='true' value=(undefined===recipe ? '' : recipe.name) )
    
    div.form-group
      label(for='cookTime') Cooking Time:
      select#cookTime.form-control(type='select', placeholder='Select cooking time' name='cookTime' required='true' )
        each num in [10, 15, 20, 30, 60, 120]
          if recipe
            option(value=num selected=(num === recipe.cookTime ? 'selected' : false)) #{num} minutes
          else 
            option(value=num selected=(num === 60 ? 'selected' : false)) #{num} minutes
    
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===recipe ? '' : recipe.description}

    div.form-group
      label Cuisine:
      div
        for cuisine in cuisines
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='cuisine', id=cuisine._id, value=cuisine._id, checked=cuisine.checked )
            label(for=cuisine._id) #{cuisine.name}

    div
      label Ingredient:
      div.row(style='margin-left: 0; margin-right: 0')
        each num in [0, 1, 2, 3, 4]
          div.form-group.col-xs-6(style='width: 110px; padding-left: 0; padding-right: 5px')
            input.form-control.input-group-lg(type='text', placeholder='Ingredient' name='ingredient' value=(undefined===recipe ? '' : recipe.ingredient[num]))  
              
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg